In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sn
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv("Loan_Data.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
X = df.iloc[:,:-1]
Y=df.iloc[:, -1]

In [6]:
drop = ['Loan_ID']
X = X.drop(drop,axis = 1 )

In [7]:
X = pd.get_dummies(X, columns = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area'])
Y = pd.get_dummies(Y, columns = ['Loan_Status'])

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ApplicantIncome          614 non-null    int64
 1   CoapplicantIncome        614 non-null    float64
 2   LoanAmount               592 non-null    float64
 3   Loan_Amount_Term         600 non-null    float64
 4   Credit_History           564 non-null    float64
 5   Gender_Female            614 non-null    uint8
 6   Gender_Male              614 non-null    uint8
 7   Married_No               614 non-null    uint8
 8   Married_Yes              614 non-null    uint8
 9   Dependents_0             614 non-null    uint8
 10  Dependents_1             614 non-null    uint8
 11  Dependents_2             614 non-null    uint8
 12  Dependents_3+            614 non-null    uint8
 13  Education_Graduate       614 non-null    uint8
 14  Education_Not Graduate   614 non-null    uint8
 15  Self_Employed_No         614 non-null    uint8
 16  Self_Employed_Yes        614 non-null    uint8
 17  Property_Area_Rural      614 non-null    uint8
 18  Property_Area_Semiurban  614 non-null    uint8
 19  Property_Area_Urban      614 non-null    uint8
dtypes: float64(4), int64(1), uint8(15)
memory usage: 33.1 KB

In [9]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       614 non-null    uint8
 1   Y       614 non-null    uint8
dtypes: uint8(2)
memory usage: 1.3 KB

In [10]:
X.isnull().sum()

ApplicantIncome             0
CoapplicantIncome           0
LoanAmount                 22
Loan_Amount_Term           14
Credit_History             50
Gender_Female               0
Gender_Male                 0
Married_No                  0
Married_Yes                 0
Dependents_0                0
Dependents_1                0
Dependents_2                0
Dependents_3+               0
Education_Graduate          0
Education_Not Graduate      0
Self_Employed_No            0
Self_Employed_Yes           0
Property_Area_Rural         0
Property_Area_Semiurban     0
Property_Area_Urban         0
dtype: int64

In [12]:
X['Loan_Amount_Term'] = X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mean())
X['LoanAmount'] = X['LoanAmount'].fillna(X['LoanAmount'].mean())
X['Credit_History'] = X['Credit_History'].fillna(X['Credit_History'].mean())

In [14]:
Y.isnull().sum()

N    0
Y    0
dtype: int64